

@{
    ViewBag.Title = "Home Page";

}
<body style="margin-top: 50px; background: linear-gradient(120deg,#a01942,#8e44ad); ">

    <section class="vh-500 bg-image" style="margin-left:20px;">
        <div class="mask d-flex  h-100 ">

            <div class="container h-50">
                <div class="row d-flex ">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card" style=" border-radius: 25px;">

                            <div class="card-body p-5" style="margin-left:0px">
                                <div>
                                    <marquee><h6 style="color:red;" class="text-center">@ViewBag.msg</h6></marquee>



                                </div>

                                <h2 style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; ">Register</h2>



                                @using (Html.BeginForm("ForgotPassword", "User",
new { ReturnUrl = ViewBag.ReturnUrl },
FormMethod.Post, new { @class = "card-body cardbody-color p-lg-5" }))
                                {
                                    @Html.AntiForgeryToken()


                                    <div class="form-outline mb-4">

                                        <label class="form-label" for="form3Example1cg">Name</label>
                                        <input type="text" id="form3Example1cg" class="form-control form-control-lg" name="Name" required />
                                    </div>

                                    <div class="form-outline mb-4">

                                        <label class="form-label" for="form3Example4cg">PhoneNumber</label>
                                        <input type="number" id="form3Example4cg" class="form-control form-control-lg" name="PhoneNumber" placeholder="Enter a valid PhoneNo" pattern="[1-9]{1}[0-9]{9}" title="Please use a 10 digit Mobile Number" required />
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3cg">Password</label>
                                        <input type="password" id="form3Example3cg" class="form-control form-control-lg" name="Password" required />
                                    </div>
                                    <div class="form-outline mb-4">

                                        <label class="form-label" for="form3Example3cg">ConformPassword</label>
                                        <input type="password" id="form3Example3cg" class="form-control form-control-lg" name="Cpassword" required />

                                    </div>
                                    <br />
                                    <br />



                                    <div class="d-flex justify-content-center">
                                        <button type="submit" style="height:50px; width:100px"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            Submit

                                        </button>
                                    </div>
                                    <br />

                                    <p class=" text-muted mt-5 mb-0">
                                        Already have an account? <a href="#!"
                                                                    class="fw-bold text-body"><u>Login here</u></a>
                                    </p>


                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </section>
</body>
<style>
    

    .gradient-custom-3 {
        background: linear-gradient(120deg,#a01942,#8e44ad);
        height: 50%;
        width: auto;
        background-repeat: no-repeat;
    }
</style>