
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div style="margin-left:400px;">
    @using (Html.BeginForm("SearchBy", "User", FormMethod.Get))
    {
        @Html.TextBox("city")
        <input type="submit" value="city" />
    }
</div>


