
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>FAQ</h2>
<p>

    <h3 style="font-weight:bold"> 1.Can I get vaccination without appointment?</h3>

    Appointments for vaccination can be taken either in online or onsite mode. Vaccination
    is recorded only after appointment.
</p>
<p>
    <br />



    <h3 style="font-weight:bold"> 2. Is it necessary to take 2nd dose of vaccination?</h3>

    Yes, it is recommended that both doses of vaccine should be taken for realising the full
    benefit of vaccination. Both doses must be of the  same vaccine type.
</p>
<p>
    <br />





    <h3 style="font-weight:bold">3.Which documents should I carry with me for vaccination?</h3>

    You should carry your identity proof specified by you at the time of registration on the
    Co-WIN portal and a printout/screenshot of your appointment slip and your previous
    vaccination certificate, if any.
</p>
<p>
    <br />



<p>

    <h3 style="font-weight:bold">
        4.Why do I need a vaccination certificate?
    </h3>
    A COVID Vaccine Certificate (CVC) issued by the government offers an assurance to
    the beneficiary on the vaccination, type of vaccine used, and the certificate also provides
    the next vaccination due.
</p>
<br />




<p>

    <h3 style="font-weight:bold">
        5.How to book an appointment for 2nd dose?
    </h3>
    If your first dose is already recorded in the system, then you are eligible for 2nd dose.
    The system will then show the “Schedule” button on your dashboard for 2nd dose. When
    you click the “Schedule” button, the system will
<p>
    • Show you vaccination sessions only with the same vaccine as you have taken
    for 1st dose.
</p>
<p>
    • Also, only the sessions that are published after the minimum period between the

    1st and 2nd dose are displayed here.
</p>
    </p>
<br />

<p>


    <h3 style="font-weight:bold">
        6.What if I cannot go for vaccination on the date of appointment? Can I reschedule my
        appointment?
    </h3>
    The appointment can be rescheduled at any time. In case you do not go for vaccination on the
    date of appointment, you can reschedule the appointment by clicking on “Reschedule” tab.
</p>
<br />

<p>



    <h3 style="font-weight:bold">
        7.Is online registration mandatory for Covid 19 vaccination?
    </h3>
    No. Vaccination Centres also provide for a limited number of on-spot registration slots every
    day. However, it is recommended to register online and schedule vaccination in advance for
    a hassle-free vaccination experience.
</p>
<br />

<p>


    <h3 style="font-weight:bold">
        8.Where will I receive confirmation of date and time of vaccination?
    </h3>
    Once an appointment is scheduled, you will receive the details of the vaccination centre, date
    and time slot chosen for appointment in an SMS sent to your registered mobile number. You
    can also download the appointment slip and print it or keep it on your smart phone.
</p>
<br />
<p>


    <h3 style="font-weight:bold">
        9.How do I book a slot online?
    </h3>
    The available number of slots in a session are displayed on screen for each of the
    sessions. If all slots are booked then instead of the number of slots, the text “Booked” is
    displayed. Once you have located the vaccination session of your choice, you can book
    a slot online by clicking the “No. of slots”, for any session that is not marked as
    “Booked”. Yes, it is as simple as that.
</p>
<br />

<p>

    <h3 style="font-weight:bold">
        10. Can I check the price of the vaccine?
    </h3>
    Yes, the System will show the price of the vaccine below the name of the vaccination
    center at the time of of scheduling an appointment.
    <br />
    <br />






















</p>
