@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h2>@ViewBag.Title Us</h2>
<br />

<body style="background:linear-gradient(120deg,#a01942,#8044ad); ">




    <address>
        Helpline: +91-11-23978046 (Toll Free - 1075 )
        <br />
        <br />

        Technical Helpline: 0120-4783222
    </address>

    <address>
        <strong>Support:</strong>cowin.gov.in<br />

    </address>
</body>